<div *ngIf="courses">
    <div *ngFor="let course of courses" [class]="courseCss">
        <a class="course-box center-block" [routerLink]="['/main/courses', course.cid]">
            <div class="course-img">
                <img alt="{{ course.cname}}" src="{{ course.curl }}">
            </div>
            <div class="course-body">
                <div class="course-name">{{ course.cname }}</div>
                <div class="course-desc">{{ course.cdescription }}</div>
                <div class="course-footer">
                    <span class="course-per-num pull-left">
                        <i class="fa fa-users"></i>
                    </span>
                    <span class="course-free pull-right">免费</span>
                </div>
            </div>
        </a>
    </div>
</div>
