<div class="sidebox ">
        <div class="row">
            <div class="col-md-12">
                <a [routerLink]="['./createCourse']">
                    <button class="btn btn-block btn-success ">创建课程</button>
                </a>
            </div>

            <div class="col-md-12">
                <a [routerLink]="['./']">
                    <button class="btn btn-block btn-info ">生成试卷</button>
                </a>
            </div>

            <div class="col-md-12">
                <a [routerLink]="['./createContest']">
                    <button class="btn btn-block btn-warning ">添加题目</button>
                </a>
            </div>
        </div>
</div>
