<div class="container">
    <div class="search-info">
        <h4><span>"python"</span>的搜索结果</h4>
    </div>

    <div class=row>
        <div class="col-md-9 layout-body">
            <div class="content clearfix">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#course-result" aria-controls="course-result" role="tab" data-toggle="tab">课程  ( 99 ) </a>
                    </li>
                    <li role="presentation">
                        <a href="/search?category=question&amp;search=python" aria-controls="question-result" role="tab" data-toggle="tab">问答 ( 3740 ) </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <app-course-box></app-course-box>
                </div>
                <app-pagination></app-pagination>
            </div>
        </div>

        <div class="col-md-3 layout-side">
            <div class="side-image side-image-vip">
                <a href="/vip" target="_blank">
                    <img src="https://static.shiyanlou.com/img/banner-vip.png">
                </a>
            </div>
        </div>
    </div>

</div>