<div class="container">
    <div class="search-info">
        <h4><span>"{{ keyWords }}"</span>的搜索结果</h4>
    </div>

    <div class=row>
        <div class="col-md-9 layout-body">
            <div class="content clearfix">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#course-result" aria-controls="course-result" role="tab" data-toggle="tab">课程  ( {{total}} ) </a>
                    </li>
                    <!--<li role="presentation">-->
                        <!--<a href="#question-result" aria-controls="question-result" role="tab" data-toggle="tab">问答 ( 3740 ) </a>-->
                    <!--</li>-->
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="course-result">
                        <app-course-box [courses]="courses"></app-course-box>
                        <div *ngIf="page">
                            <app-pagination [total]="totalPages" [currentPage]="page" [page_status]="2" [keywords]="keyWords"></app-pagination>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="question-result">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 layout-side">
            <div class="side-image side-image-vip">
                <a>
                    <img src="https://static.shiyanlou.com/img/banner-vip.png">
                </a>
            </div>
        </div>
    </div>

</div>
