.content {
  margin-bottom: 10px;
  padding: 30px;
  background: #fff;
  border: 1px solid #eee;
}

.content {
  position: relative;
  padding-bottom: 60px;
}

.nav-tabs {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #eee;
}

.nav-tabs>li>a {
  margin: 0 48px 0 0;
  padding: 0 0 4px;
  color: #565a61;
  background-color: transparent;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
  color: #4c5157;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-bottom-color: #0c9;
}

.comment-form {
  overflow: hidden;
}

.comment-form-content {
  width: 100%;
  height: 120px;
  margin-top: 12px;
  padding: 6px 12px;
  background: #fafbfa;
  font-size: 14px;
  border: 1px solid #ececec;
  overflow-y: auto;
  resize: none;
}

.comment-form .comment-form-content {
  font-size: 16px;
}

.comment-form .btn {
  margin: 10px 0 10px 10px;
}

.btn-primary {
  color: #fff;
  background-color: #0c9;
  border-color: #0c9;
  border-radius: 0;
}

.comment-box .comment-title {
  padding: 8px 0;
  color: #565656;
  font-size: 14px;
  border-bottom: 2px solid #eee;
}

#questions>.btn {
    padding: 8px 30px;
    margin-top: 12px;
    background: #0c9;
    border-color: #0c9;
}

.btn {
    border-radius: 0;
}

a{
	text-decoration: none;
}
