<div class="main">
    <app-header></app-header>
    <div class="content-box">
      <div class="container">
        <div class="row">
          <div class="col-md-12 layout-body">
            <div class="page-404">
              <img class="page-404-img" src="https://static.shiyanlou.com/img/page-404.png">
              <div class="page-404-btns">
                <img src="https://static.shiyanlou.com/img/404.svg">
                <div>Sorry，页面走丢了...</div>
                <a class="back-btn" href="javascript: history.back();">返回上一页</a>
                <a class="home-btn" [routerLink]="['/main']">返回首页</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
</div>
