<div class="container">
	<div class="row">
		<div class="col-md-12 layout-body">
			<app-userinfo-banner></app-userinfo-banner>
			<div class="container layout">
				<div class="row">
					<div class="col-md-3 layout-side">
						<app-user-side-box></app-user-side-box>
						<div class="sidebox user-visitors">
							<div class="sidebox-header">
								<h4 class="sidebox-title">最近来访</h4>
							</div>
							<div class="sidebox-body">
                                <app-user-visitor></app-user-visitor>
							</div>
						</div>
					</div>
					<div class="col-md-9 layout-body">
						<div class="content" role="tabpanel">
						    <ul class="nav nav-tabs" role="tab">
						        <li role="presentation" class="">
						            <a [routerLink]="['./']" role="tab">创建的课程</a>
						        </li>
						        <li role="presentation" >
						            <a [routerLink]="['./']" role="tab">学习的课程</a>
						        </li>
						        <li role="presentation" >
						            <a [routerLink]="['./']" role="tab">题库</a>
						        </li>
						    </ul>
						    <div class="tab-content">
						           <router-outlet></router-outlet>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
