<div class="home-section">
    <div class="container">
        <div class="home-section-header">
            <a href="#">
                <span class="home-section-title">精选项目课 <span>| </span> </span>
                <span class="home-section-desc">精选会员项目课程</span>
            </a>
            <a [routerLink]="['/main/courses']" class="see-more">更多></a>
        </div>
        <div class="learn-path-body">
            <div class="row">
                <app-course-box [courseCss]="courseBoxCss"></app-course-box>
            </div>
        </div>
    </div>
</div>
