.home-section{
	padding-top: 30px;
	background: #f7f7f7;
}

.home-section .home-section-header{
	margin-bottom: 30px;
}

.home-section .home-section-title{
	color: #565656;
	font-size: 24px;
}
.home-section .home-section-title span{
	margin: 0 5px;
}

.home-section .home-section-desc{
    color: #666;
    font-size: 14px;
    vertical-align: 2px;
}

.home-section .home-section-header>a.see-more {
    float: right;
    color: #666;
    font-size: 14px;
    padding-top: 8px;
}

.home-section a{
	text-decoration: none;
}

.home-section a:hover{
	text-decoration: none;
}
