.footer{
	font-size: 14px;
}
.copyright {
  height: 52px;
  color: #aaa;
  background: #171919;
  line-height: 52px;
}

.copyright a{
	color: #666;
	text-decoration: none;
}

.copyright a:hover{
	color: #fff;
}
