<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="" class="active"><i class="lnr lnr-home"></i> <span>用户</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-code"></i> <span>课程</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-chart-bars"></i> <span>题库</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
                <li><a href="" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
            </ul>
        </nav>
    </div>
</div>
