<div class="userinfo-banner container">
	<div class="banner-container">
		<div class="row">
			<div class="col-md-12">
				<div class="pull-left userinfo-banner-avatar">
					<div class="user-avatar">
						<a class="avatar" href="#">
              <img src="https://dn-simplecloud.shiyanlou.com/gravatar720931.png?v=1525757162483&imageView2/1/w/200/h/200" alt="">
            </a>
					</div>
				</div>
				<div class="pull-left userinfo-banner-details">
					<div class="userinfo-banner-meta">
						<span class="username">RainbomSea</span>
						<span class="user-level">L6</span>
						<div class="vip-info">
							<i class="i-user-vip-buy"></i>
							<a [routerLink]="['./info']" title="" class="edit-profile">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
						</div>
					</div>
					<span class="join-date">2018-04-22 加入在线学习</span>
				</div>
				<div class="pull-right userinfo-banner-medal">
					<div class="userinfo-medal-wall">
						<div class="user-medals">
							<span class="no-medals">还没有获得勋章</span>
						</div>
						<div class="user-medals-get">
							<span><a href="#" title="">获得勋章</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
