<div class="col-sm-3">
	<a class="learn-path-item" [routerLink]="['/main/paths', 'path_name']">
        <img src="https://dn-simplecloud.shiyanlou.com/1487741005890.png">
        <div class="learn-path-name">新手入门</div>
        <div class="learn-path-courses">
            6门课程
        </div>
    </a>
</div>

<div class="col-sm-3">
	<a class="learn-path-item" href="/paths/newhand">
        <img src="https://dn-simplecloud.shiyanlou.com/1487741005890.png">
        <div class="learn-path-name">新手入门</div>
        <div class="learn-path-courses">
            6门课程
        </div>
    </a>
</div>

<div class="col-sm-3">
	<a class="learn-path-item" href="/paths/newhand">
        <img src="https://dn-simplecloud.shiyanlou.com/1487741005890.png">
        <div class="learn-path-name">新手入门</div>
        <div class="learn-path-courses">
            6门课程
        </div>
    </a>
</div>

<div class="col-sm-3">
	<a class="learn-path-item" href="/paths/newhand">
        <img src="https://dn-simplecloud.shiyanlou.com/1487741005890.png">
        <div class="learn-path-name">新手入门</div>
        <div class="learn-path-courses">
            6门课程
        </div>
    </a>
</div>

<div class="col-sm-3">
	<a class="learn-path-item" href="/paths/newhand">
        <img src="https://dn-simplecloud.shiyanlou.com/1487741005890.png">
        <div class="learn-path-name">新手入门</div>
        <div class="learn-path-courses">
            6门课程
        </div>
    </a>
</div>

<div class="col-sm-3">
	<a class="learn-path-item" href="/paths/newhand">
        <img src="https://dn-simplecloud.shiyanlou.com/1487741005890.png">
        <div class="learn-path-name">新手入门</div>
        <div class="learn-path-courses">
            6门课程
        </div>
    </a>
</div>
