<div class="container">
    <div class="row">
        <div class="col-md-9 layout-body">
            <div class="content">
                <app-nav-tabs-box></app-nav-tabs-box>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active">
                        <app-questions-box></app-questions-box>
                        <app-pagination></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>