.content{
	padding: 20px;
	position: relative;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #eee;
}

.layout-body, .layout-side {
    padding: 0 5px;
}

.course-items-container {
    background: none;
    padding: 20px 0!important;
    border: none;
}
