<div class="content course-infobox">
	<div class="clearfix course-infobox-header">
		<h4 class="course-infobox-title">
            <span>Linux 基础入门（新版）</span>
            <span class="course-infobox-type course-type-free" data-course-type="3">免费</span>
        </h4>
		<div class="pull-right course-infobox-follow">
			<span>关注</span>
			<i class="fa fa-star-o" data-next=""></i>
		</div>
		<div class="course-info-details">
			<span>182703 人学过</span>
			<span>8811人关注</span>
			<span>7789人评论</span>
		</div>
	</div>
	<div class="clearfix course-infobox-body">
		<div class="course-infobox-content">
			<p>要在实验楼愉快地学习，先要熟练地使用 Linux，本实验介绍 Linux 基本操作，shell 环境下的常用命令。</p>
		</div>
		<div class="course-infobox-price">
			<a class="btn btn-success start-first-lab">开始学习</a>
			<span class="last-learn-lab">上次学到：Linux任务计划crontab (10/21)</span>
		</div>
	</div>
</div>
