<div class="content course-infobox">
	<div class="clearfix course-infobox-header">
		<h4 class="course-infobox-title">
            <span>{{ course.cname }}</span>
            <span class="course-infobox-type course-type-free" data-course-type="3">免费</span>
        </h4>
		<div class="pull-right course-infobox-follow">
            <span>关注</span>
            <i [class]="star" (click)="changeStar()">

            </i>
		</div>
		<div class="course-info-details">
			<span>182703 人学过</span>
			<span>7789人评论</span>
		</div>
	</div>
	<div class="clearfix course-infobox-body">
		<div class="course-infobox-content">
			<p>{{ course.cdescription }}</p>
		</div>
		<div class="course-infobox-price">
			<a class="btn btn-success start-first-lab">开始学习</a>
			<!--<span class="last-learn-lab">上次学到：Linux任务计划crontab (10/21)</span>-->
		</div>
	</div>
</div>
