.layout-body, .layout-side {
    padding: 0 5px;
}

.content {
    margin-bottom: 10px;
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
}

.content {
    position: relative;
    padding-bottom: 60px;
}

.msg-row {
    padding: 10px;
}