<ul class="row question-items">
    <li class="question-item">
        <div class="col-md-10">
            <div class="col-sm-2 question-item-author">
                <div class="user-avatar ">
                    <a class="avatar" href="/user/788496/" target="_blank">
                        <img src="https://dn-simplecloud.shiyanlou.com/gravatar5FDKJH3792WP.jpg?imageView2/1/w/200/h/200" title="LOU109924462">
                    </a>

                </div>
            </div>
            <div class="col-sm-10">
                <h4>
                    <a class="question-item-title" href="/questions/82751" target="_blank"> 导入文本数据，提示日期值不对</a>
                </h4>
                <div class="question-item-summary">
                    <div class="user-username ">
                        <a class="username" href="/user/788496/" target="_blank">
                            LOU109924462
                        </a>
                        <span class="user-level">L13</span>
                    </div>
                    <span class="question-item-date">1小时前</span>
                    最后回复
                    <span class="question-item-date">
                        <div class="user-username ">
                            <a class="username" href="/user/788496/" target="_blank">
                                LOU109924462
                            </a>
                            <span class="user-level">L13</span>
                        </div>
                     </span>
                    <span class="question-item-course">来自
                        <a href="https://www.shiyanlou.com/courses/9#questions" target="_blank">MySQL 基础课程</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2 question-item-rank">
            <div class="question-item-answered">
                <div>2</div>
                <div>回复</div>
            </div>
            <div class="question-item-views">
                <div>16</div>
                <div>查看</div>
            </div>
        </div>
    </li>
</ul>