<section class="courses-list-wrapper">
	<div class="courses-list-item">
		<div class="row">
			<div class="course-img col-md-4">
				<a href="#" title="">
                    <img src="https://dn-simplecloud.shiyanlou.com/1451525605970.png">
                </a>
			</div>
			<div class="course-detail col-md-8">
                <p class="course-name">
                    <a href="#" title="">Git 实战教程</a>
                    <span role="button" href=""class="action-more pull-right" data-course-id="4">更多
                        <a type="button" class="btn btn-default btn-sm btn-action" data-toggle="modal" data-target="#course-action-modal" style="display: none;">删除记录</a>
                    </span>
                </p>
                <p class="last-learn" style="">上次学到：基本用法（上）(2/8)</p>
                <p class="course-relate-data">
                    <span class="relate-count course-questions" data-course-id="4" data-question-num="0">0个提问
                        <i class="fa fa-angle-down question-angle-down" aria-hidden="true"></i>
                    </span>
                    <a href="#" class="btn btn-primary pull-right" title="">继续学习</a>
                </p>
			</div>
		</div>
	</div>
</section>
