<div class="videoBody-top">
    <div class="mainLeft">
        <div class="header">
            <a href="javascript:;" id="back" class="backIcon">
                <img src="https://www.boxuegu.com/web/images/video2/fanhui.png">
                <span class="video_name">Photoshop七天入门计划</span>
            </a>
        </div>
        <div class="videoBody">
            <div class="videoBody-play">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100%" height="100%" id="10050495">
                    <param name="movie" value="https://p.bokecc.com/flash/single/78665FEF083498AB_7F7E09784A3D81369C33DC5901307461_true_06ECA492E34634C9_1/player.swf">
                    <param name="allowFullScreen" value="true">
                    <param name="allowScriptAccess" value="always">
                    <param value="transparent" name="wmode">
                    <embed src="https://p.bokecc.com/flash/single/78665FEF083498AB_7F7E09784A3D81369C33DC5901307461_true_06ECA492E34634C9_1/player.swf" width="100%" height="100%" name="10050495" allowfullscreen="true" wmode="transparent" allowscriptaccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash">
                </object>
            </div>
            <div class="playerLayer" style="display: none;"></div>
        </div>
    </div>
</div>
<video controls="controls">
    <source src="https://v4.music.126.net/20180731114958/b78c2addfa0b8d1610354c911c3423a7/web/cloudmusic/MSEgIGIkMDQxIDAxYiAyMA==/mv/5302410/bf86280d4ac99b65db240d9177d6ec8c.mp4" type="video/mp4" />
    Your browser does not support the video tag.
</video>