<div class="sidebox mooc-teacher">
	<div class="sidebox-header mooc-header">
		<h4 class="sidebox-title">课程教师</h4>
	</div>
	<div class="sidebox-body mooc-content">
		<a href="/user/20406/" target="_blank">
            <img src="https://dn-anything-about-doc.qbox.me/teacher/Linux&amp;c.png">
        </a>
		<div class="mooc-info">
			<div class="name"><strong>Edward</strong> </div>

			<div class="courses">共发布过<strong>14</strong>门课程</div>
		</div>
		<div class="mooc-extra-info">
			<div class="word long-paragraph">
				资深程序员，5年Linux运维、企业级开发经验及数据库实战和教学经验。
			</div>
		</div>
	</div>
	<div class="sidebox-footer mooc-footer">
		<a href="/teacher/20406" target="_blank">查看老师的所有课程 &gt;</a>
	</div>
</div>
