<nav class="pagination-container">
    <ul class="pagination">
        <li class="disabled">
            <a href="javascript:;" aria-label="Previous">
                <span aria-hidden="true">上一页</span>
            </a>
        </li>
        <li *ngFor="let i of total | demoNumber:1" class="">
            <a href="javascript:;">{{ i }}</a>
        </li>

        <li class="">
            <a aria-label="Next" href="javascript:;">
                <span aria-hidden="true">下一页</span>
            </a>
        </li>
    </ul>
</nav>
