.pagination-container {
    text-align: center;
    clear: both;
}

.pagination-container .pagination li {
    display: inline-block;
    margin: 0 4px;
}

.pagination-container .pagination a {
    color: #565a61;
    font-size: 14px;
    border: none;
    border-radius: 0!important;
}

.pagination-container .pagination .disabled a {
    color: #9b9da2;
}

.pagination-container .pagination .active a {
    color: #fff;
    background: #0c9;
}

.pagination-container .pagination a:hover {
    color: #fff;
    background: #0c9;
}

.pagination-container .pagination .disabled a:hover {
    color: #9b9da2;
    background: transparent;
}
