<div class="container">
    <div class="row">
        <div class="col-md-9 layout-body">
            <div class="subject-title">[单选题]</div>
            <div class="subject-main">
                <div class="subject-content">
                    <div class="subject-question">
                        在Python 2.7中，下列哪种是Unicode编码的书写方式?<br>
                    </div>
                    <a class="subject-options" data-id="328605">
                        <label class="radio" id="jsCpn_2_checkbox_0">
                            <span class="icons"></span>
                            <input type="radio" data-toggle="radio" value="328605">
                            <pre>a = ‘中文’</pre>
                        </label>
                    </a>
                    <a class="subject-options" data-id="328606">
                        <label class="radio" id="jsCpn_3_checkbox_1">
                            <span class="icons"></span>
                            <input type="radio" data-toggle="radio" value="328606">
                            <pre>a = r‘中文’</pre>
                        </label>
                    </a>
                    <a class="subject-options selected" data-id="328607">
                        <label class="radio checked" id="jsCpn_4_checkbox_2">
                            <span class="icons"></span>
                            <input type="radio" data-toggle="radio" value="328607" checked="checked">
                            <pre>a = u’中文’</pre>
                        </label>
                    </a>
                    <a class="subject-options" data-id="328608">
                        <label class="radio" id="jsCpn_5_checkbox_3">
                            <span class="icons"></span>
                            <input type="radio" data-toggle="radio" value="328608">
                            <pre>a = b’中文’</pre>
                        </label>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 layout-side">

        </div>
    </div>
</div>
