<div class="container" *ngIf="problems">
    <div class="row">
        <div class="col-md-9 layout-body">
            <div class="subject-title">[单选题]</div>
            <div class="subject-main">
                <div *ngFor="let problem of problems; let i = index" class="subject-content">
                    <div class="subject-question">
                        {{ problem.question }}(10 分) <br>
                    </div>
                    <a class="subject-options" [class.selected]="false"  *ngFor="let a of x" (click)="change(i, a)">
                        <label class="radio" [class.checked]="theSame(a, c[i], problem.answer | demoNumber)">
                            <span class="icons"></span>
                            <pre>{{ problem.choice[a] }}</pre>
                        </label>
                    </a>
                </div>

                <div class="subject-action">
                    <button (click)="getGrade()" type="submit" class="btn btn-success">提交</button>
                </div>

            </div>
        </div>
        <div class="col-md-3 layout-side">

        </div>
    </div>
</div>
