<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>

<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>

<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>

<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>

<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>

<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>

<div class="sys-msg-item">
    <div class="msg-item-top row">
        <div class="msg-cat">
            <span class="label label-success">奖励</span>
        </div>
        <div class="msg-main-content">
            <p>您已经到达7楼啦, 赠送一颗实验豆，奖励你的勤奋</p>
        </div>
    </div>
    <div class="msg-item-bot">
        <div class="msg-create-time">
            <small>2018/07/20 20:41</small>
        </div>
    </div>
</div>