<div class="container">
    <app-course-path></app-course-path>
    <div class="row">
        <div class="col-md-9 layout-body">
            <app-course-infobox></app-course-infobox>
            <app-course-chapter></app-course-chapter>
            <app-comment></app-comment>
        </div>
        <div class="col-md-3 layout-side">
            <div class="side-image side-image-pc">
                <img src="https://dn-simplecloud.shiyanlou.com/ncn1.jpg?imageView2/0/h/300">
            </div>
            <app-course-teacher></app-course-teacher>
        </div>
    </div>
</div>
