.layout-body, .layout-side {
    padding: 0 5px;
}

.side-image {
    margin-bottom: 10px;
    background: #fff;
    text-align: center;
    position: relative;
}

.side-image img {
    width: 100%;
}