<div class="container">
    <!--<app-course-path></app-course-path>-->
    <div class="row">
        <div class="col-md-9 layout-body" *ngIf="course">
            <app-course-infobox [course]="course"></app-course-infobox>
            <div *ngIf="chapters.length >= 1">
                <app-course-chapter [course]="course" [chapters]="chapters"></app-course-chapter>
            </div>
            <div *ngIf="comments">
                <app-comment [comments]="comments"></app-comment>
            </div>
        </div>
        <div class="col-md-3 layout-side">
            <div class="side-image side-image-pc">
                <img src="{{ course.curl }}">
            </div>
            <app-course-teacher></app-course-teacher>
        </div>
    </div>
</div>
