<!--<div class="row course-cates">-->
	<!--<div class="col-md-1 course-cates-title">方向：</div>-->
	<!--<div class="col-md-11 course-cates-content">-->
		<!--<a class="active" href="#">全部</a>-->
		<!--<a class="" href="#">后端开发</a>-->
		<!--<a class="" href="#">Linux运维</a>-->
		<!--<a class="" href="#">云计算与大数据</a>-->
		<!--<a class="" href="#">数据库</a>-->
		<!--<a class="" href="#">信息安全</a>-->
		<!--<a class="" href="#">Web前端</a>-->
		<!--<a class="" href="#">计算机专业课</a>-->
		<!--<a class="" href="#">其他技术</a>-->
	<!--</div>-->
<!--</div>-->

<div class="row course-cates course-cates-tags">
	<div class="col-md-1 course-cates-title">标签：</div>
	<div class="col-md-11 course-cates-content" [class.course-tags]="course_tags">
        <a  (click)="changeAllKind('全部')" [class.active] = "kindActive('全部')">全部</a>
		<a  *ngFor="let lable of labels" (click)="changeKind(lable)" [class.active] = "kindActive(lable.kname)" >{{ lable.kname }}</a>
	</div>
	<a class="show-more-btn" (click)="changeTags(text_tags)">
        <i class="fa fa-angle-down"></i>
        <span>{{ text_tags }}</span>
	</a>
</div>

<!--<div class="courses-sort">-->
	<!--<div class="courses-sort-container">-->
		<!--<a href="#">综合</a>-->
		<!--<a class="active" href="#">最新</a>-->
		<!--<a href="#">最热</a>-->
	<!--</div>-->
	<!--<div class="courses-sort-container">-->
		<!--<a class="active" href="#">已上线</a>-->
		<!--<a class="" href="#">即将上线</a>-->
	<!--</div>-->
	<!--<span class="dropdown course-type">-->
		<!--<a href="#" class="dropdown-toggle dropdown-type ">-->
        <!--类型 <span class="caret"></span>-->
	<!--</a>-->
	<!--<ul class="dropdown-menu">-->
		<!--<li class="active"><a href="#">全部</a></li>-->
		<!--<li class=""><a href="#">免费</a></li>-->
		<!--<li class=""><a href="#">会员</a></li>-->
		<!--<li class=""><a href="#">私有课</a></li>-->
	<!--</ul>-->
	<!--</span>-->
<!--</div>-->
