.course-cates {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.course-cates:first-child {
  margin-bottom: 10px;
}

.course-cates:nth-of-type(2) {
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
}

.course-cates-title {
  padding: 0;
  width: 62px;
}

.course-cates-content {
  padding-left: 0;
}

.course-cates-content .course-cates-vip, .course-cates-content>a {
  display: inline-block;
  margin: 0 4px 10px 0;
  padding: 4px 10px;
  font-size: 15px;
  color: #666;
  border-radius: 15px;
  cursor: pointer;
  /*transition: color 1s ease;*/
  /*transition: background .5s ease;*/
}

.course-cates-content .course-cates-vip.active, .course-cates-content .course-cates-vip:focus, .course-cates-content .course-cates-vip:hover, .course-cates-content>a.active, .course-cates-content>a:focus, .course-cates-content>a:hover {
  color: #fff;
  background: #08bf91;
  text-decoration: none;
}

.course-cates-content.course-tags {
  max-height: 119px;
  overflow: hidden;
}

a.show-more-btn {
  position: absolute;
  right: 20px;
  bottom: 45px;
  display: block;
  padding: 0 8px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #a4a4a4;
  font-size: 14px;
  color: #a4a4a4;
  text-decoration: none;
}

.courses-sort {
  padding: 20px 0 0;
  color: #c0c4cf;
}

.courses-sort .courses-sort-container {
  display: inline-block;
  margin-right: 50px;
}

.courses-sort .courses-sort-container>a {
  display: inline-block;
  margin: 0;
  padding: 3px 5px;
  border: 1px solid #c6c6c6;
  font-size: 14px;
  color: #999;
  text-decoration: none;
}

.courses-sort .courses-sort-container>a.active {
  position: relative;
  border: 1px solid #08bf91;
  color: #39cca7;
  z-index: 9;
}

.courses-sort .course-type {
  position: absolute;
  bottom: 18px;
  right: 130px;
}

.courses-sort>span {
  font-size: 18px;
  color: #666;
  padding: 0 10px;
}

.side-primary.side-sda.side-colored {
  font-size: 14px;
  color: #08BF91;
  background: #fff !important;
  display: inline-block;
  padding: 3px 20px;
  border: 1px solid #08BF91;
  border-radius: 36px;
  box-shadow: none;
  float: right;
  text-align: center;
  margin-bottom: 10px;
}

.courses-sort .dropdown-type:first-of-type {
  padding-right: 10px;
}

.courses-sort .dropdown-type {
  padding-bottom: 20px;
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.courses-sort .dropdown-menu {
  min-width: 105px;
  height: 145px;
  border: none;
  text-align: center;
  padding-top: 10px;
  left: -20px;
}

.courses-sort .dropdown-menu li {
  margin-bottom: 5px;
}

i {
  margin-right: 4px;
}

.courses-sort .dropdown:hover .dropdown-menu {
  display: block;
}

.courses-sort .dropdown-menu li a {
  color: #666;
  font-size: 14px;
  padding: 6px 0 0;
}

.courses-sort .dropdown-menu .active a {
  background: #fff;
  color: #0c9;
}

.courses-sort .dropdown-menu li a:focus, .courses-sort .dropdown-menu li a:hover {
  color: #0c9;
  background: none;
}

@media (max-width: 600px) {
  .courses-sort .courses-sort-container {
    display: block;
    margin-top: 10px;
  }
  a.show-more-btn {
    bottom: 118px;
  }
}

a{
    cursor: pointer;
}