<div class="row course-cates">
	<div class="col-md-1 course-cates-title">方向：</div>
	<div class="col-md-11 course-cates-content">
		<a class="active" href="javascript:;">全部</a>
		<a class="" href="javascript:;">后端开发</a>
		<a class="" href="javascript:;">Linux运维</a>
		<a class="" href="javascript:;">云计算与大数据</a>
		<a class="" href="javascript:;">数据库</a>
		<a class="" href="javascript:;">信息安全</a>
		<a class="" href="javascript:;">Web前端</a>
		<a class="" href="javascript:;">计算机专业课</a>
		<a class="" href="javascript:;">其他技术</a>
	</div>
</div>
<div class="row course-cates course-cates-tags">
	<div class="col-md-1 course-cates-title">标签：</div>
	<div class="col-md-11 course-cates-content course-tags">
		<a class="active" href="javascript:;">全部</a>
		<a class="" href="javascript:;">Python</a>
		<a class="" href="javascript:;">Linux</a>
		<a class="" href="javascript:;">机器学习</a>
		<a class="" href="javascript:;">C</a>
		<a class="" href="javascript:;">PHP</a>
		<a class="" href="javascript:;">Java</a>
		<a class="" href="javascript:;">Web</a>
		<a class="" href="javascript:;">计算机专业课</a>
		<a class="" href="javascript:;">R</a>
		<a class="" href="javascript:;">C++</a>
		<a class="" href="javascript:;">Spark</a>
		<a class="" href="javascript:;">NodeJS</a>
		<a class="" href="javascript:;">Web安全</a>
		<a class="" href="javascript:;">Hadoop</a>
		<a class="" href="javascript:;">网络安全</a>
		<a class="" href="javascript:;">系统安全</a>
		<a class="" href="javascript:;">GO</a>
		<a class="" href="javascript:;">JavaScript</a>
		<a class="" href="javascript:;">安全开发</a>
		<a class="" href="javascript:;">HTML5</a>
		<a class="" href="javascript:;">网络</a>
		<a class="" href="javascript:;">Laravel</a>
		<a class="" href="javascript:;">Git</a>
		<a class="" href="javascript:;">SQL</a>
		<a class="" href="javascript:;">Scala</a>
		<a class="" href="javascript:;">SSH</a>
		<a class="" href="javascript:;">OpenCV</a>
		<a class="" href="javascript:;">Shell</a>
		<a class="" href="javascript:;">Flask</a>
		<a class="" href="javascript:;">MySQL</a>
		<a class="" href="javascript:;">新手入门</a>
		<a class="" href="javascript:;">加密解密</a>
		<a class="" href="javascript:;">NoSQL</a>
		<a class="" href="javascript:;">ThinkPHP</a>
		<a class="" href="javascript:;">SDN</a>
		<a class="" href="javascript:;">渗透测试</a>
		<a class="" href="javascript:;">云计算</a>
		<a class="" href="javascript:;">OpenStack</a>
		<a class="" href="javascript:;">CSS</a>
		<a class="" href="javascript:;">算法</a>
		<a class="" href="javascript:;">Docker</a>
		<a class="" href="javascript:;">设计模式</a>
		<a class="" href="javascript:;">Redis</a>
		<a class="" href="javascript:;">Vuejs</a>
		<a class="" href="javascript:;">SSM</a>
		<a class="" href="javascript:;">Kali</a>
		<a class="" href="javascript:;">区块链</a>
		<a class="" href="javascript:;">Ruby</a>
		<a class="" href="javascript:;">Bootstrap</a>
		<a class="" href="javascript:;">Nginx</a>
		<a class="" href="javascript:;">Django</a>
		<a class="" href="javascript:;">Spring</a>
		<a class="" href="javascript:;">Kafka</a>
		<a class="" href="javascript:;">ROS</a>
		<a class="" href="javascript:;">信息隐藏</a>
		<a class="" href="javascript:;">HTML</a>
		<a class="" href="javascript:;">Swift</a>
		<a class="" href="javascript:;">汇编</a>
		<a class="" href="javascript:;">MongoDB</a>
		<a class="" href="javascript:;">Hbase</a>
		<a class="" href="javascript:;">爬虫</a>
		<a class="" href="javascript:;">React</a>
		<a class="" href="javascript:;">Ansible</a>
	</div>
	<a class="show-more-btn" href="javascript:;">
        <i class="fa fa-angle-down"></i>
        <span>更多</span>
	</a>
</div>
<div class="courses-sort">
	<div class="courses-sort-container">
		<a href="javascript:;">综合</a>
		<a class="active" href="javascript:;">最新</a>
		<a href="javascript:;">最热</a>
	</div>
	<div class="courses-sort-container">
		<a class="active" href="javascript:;">已上线</a>
		<a class="" href="javascript:;">即将上线</a>
	</div>
	<span class="dropdown course-type">
		<a href="javascript:;" class="dropdown-toggle dropdown-type " data-target="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        类型 <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li class="active"><a href="javascript:;">全部</a></li>
		<li class=""><a href="javascript:;">免费</a></li>
		<li class=""><a href="javascript:;">会员</a></li>
		<li class=""><a href="javascript:;">私有课</a></li>
	</ul>
	</span>
</div>
