<div class="comment-list">
    <div class="comment-item-wrapper text-center ">
        <div class="row comment-list-item no-margin">
            <div class="col-md-1">
                <div class="user-avatar ">
                    <a class="avatar" href="/user/720931/" target="_blank">
                        <img src="https://dn-simplecloud.shiyanlou.com/gravatar720931.png?v=1525757162483&amp;imageView2/1/w/200/h/200">
                    </a>
                </div>
            </div>
            <div class="col-md-11 comment-item-body text-left">
                <div class="user-username">
                    <a class="username" href="/user/720931/" target="_blank">RainbomSea</a>
                    <span class="user-level">L7</span>
                </div>
                <div class="comment-item-content markdown-box" style="word-wrap: break-word;">
                    <p>这个课程非常好~~~</p>
                </div>
                <div class="assistant-wrapper">
                    <div class="comment-item-date">几秒前</div>
                     <div class="comment-item-delete" data-url="/comments/48445">删除</div>
                    <div class="comment-item-reply" data-pid="48445">
                        <img src="https://www.shiyanlou.com/static/img/trylab/icon-reply.png">回复
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>