<div class="comment-list" *ngFor="let comment of comments">
    <div class="comment-item-wrapper text-center ">
        <div class="row comment-list-item no-margin">
            <div class="col-md-1">
                <div class="user-avatar ">
                    <a class="avatar" href="/user/720931/" target="_blank">
                        <img src="{{ getUser(comment.uid).purl }}">
                    </a>
                </div>
            </div>
            <div class="col-md-11 comment-item-body text-left">
                <div class="user-username">
                    <a class="username" href="/user/720931/" target="_blank">{{ getUser(comment.uid).pname }}</a>
                    <!--<span class="user-level">L7</span>-->
                </div>
                <div class="comment-item-content markdown-box" style="word-wrap: break-word;">
                    <p>{{ comment.ctext }}</p>
                </div>
                <div class="assistant-wrapper">
                    <div class="comment-item-date">{{ comment.ctime }}</div>
                    <!--<div class="comment-item-delete" data-url="/comments/48445">删除</div>-->
                    <div class="comment-item-reply" data-pid="48445">
                        <img src="https://www.shiyanlou.com/static/img/trylab/icon-reply.png">回复
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>