<div class="challenge">
    <div class="challenge-header">
        <h4 class="challenge-title">

            <img src="https://static.shiyanlou.com/img/lab-not-ok.png">

            <span class="contest-challenge-name">日志分析</span>

            <span class="contest-challenge-label">Linux</span>

            <a [routerLink]="['/main/contests', 1]" class="pull-right btn btn-primary challenge-start-btn">开始挑战</a>

            <a class="pull-right btn btn-default see-title">查看题目</a>

        </h4>
    </div>

    <div class="challenge-meta">

        <span class="challenge-meta-level">难度：中等</span>

        <span class="challenge-meta-percent">通过率：20.1%</span>

        <span class="pull-right challente-meta-users">66 人挑战</span>
    </div>

</div>