.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panel {
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin-bottom: 30px;
}

.panel .panel-heading, .panel .panel-body, .panel .panel-footer {
    padding-left: 25px;
    padding-right: 25px;
}

.panel .panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.panel .panel-heading .panel-title {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.panel .right {
    position: absolute;
    right: 20px;
    top: 17%;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.panel .table > thead > tr > td:first-child, .panel .table > thead > tr > th:first-child, .panel .table > tbody > tr > td:first-child, .panel .table > tbody > tr > th:first-child, .panel .table > tfoot > tr > td:first-child, .panel .table > tfoot > tr > th:first-child {
    padding-left: 25px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}