<div class="content" *ngIf="chapters">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#labs" aria-controls="labs" role="tab" data-toggle="tab">章节列表</a>
		</li>
	</ul>
	<div class="tab-content">

		<div *ngFor="let chapter of chapters" class="tab-pane active" role="tabpanel">
			<div class="lab-item">
				<div class="lab-item-header">
					<div class="lab-item-status">
						<img src="https://static.shiyanlou.com/img/lab-not-ok.png">
					</div>
					<div class="lab-item-index">实验{{ chapter.id }}</div>
					<div class="lab-item-title" title="Linux 系统简介">{{ chapter.cname }}</div>
					<div class="pull-right lab-item-ctrl">
						<a class="btn btn-primary lab-item-start" (click)="getVideo(chapter)">
                        开始学习
                        </a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
