.content {
    margin-bottom: 10px;
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
}

.content {
    position: relative;
    padding-bottom: 60px;
}

.nav-tabs {
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #eee;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #4c5157;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-bottom-color: #0c9;
}

.lab-item {
    position: relative;
    margin: 12px 0;
    border: 1px solid #eee;
}

.lab-item .lab-item-header {
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding-right: 10px;
    height: 55px;
}

.lab-item .lab-item-header>div {
    display: inline-block;
    margin: 0 12px;
    padding: 14px 0;
    font-size: 16px;
    vertical-align: middle;
}

.lab-item .lab-item-header>div {
    display: inline-block;
    margin: 0 12px;
    padding: 14px 0;
    font-size: 16px;
    vertical-align: middle;
}

.lab-item-index {
    color: #999;
}

.lab-item-title {
    max-width: 450px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.lab-item .lab-item-header>div {
    display: inline-block;
    margin: 0 12px;
    padding: 14px 0;
    font-size: 16px;
    vertical-align: middle;
}

.lab-item .lab-item-header>div.lab-item-ctrl {
    padding: 0;
    margin: 10px 0 0;
    z-index: 10;
}

.btn-primary {
    color: #fff;
    background-color: #0c9;
    border-color: #0c9;
	border-radius: 0;
}
